<footer>

<div class="address">
    Address </br>
    #1249, 14th A Cross, 29th main, </br>
    BTM 2nd Stage, Bangalore 560076
  </div>


<div class= "footelement">
  <nav>
    <ul>

      

    </ul>

  </nav>
  </div>
</footer>




